# Subiendo archivos e importando bibliotecas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/datos_tratados.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_cliente               7043 non-null   object
 1   perdida                  7043 non-null   int64
 2   genero                   7043 non-null   object
 3   ciudadano_Mayor          7043 non-null   int64
 4   socio                    7043 non-null   int64
 5   dependientes             7043 non-null   int64
 6   antiguedad               7043 non-null   int64
 7   servicio_telefonico      7043 non-null   int64
 8   lineas_multiples         7043 non-null   object
 9   servicio_internet        7043 non-null   object
 10  seguridad_online         7043 non-null   object
 11  copia_seguridad_online   7043 non-null   object
 12  proteccion_dispositivo   7043 non-null   object
 13  soporte_tecnico          7043 non-null   object
 14  streaming_tv             7043 non-null   object
 15  streaming_peliculas      7043 non-null   object
 16  contrato                 7043 non-null   object
 17  facturacion_electronica  7043 non-null   int64
 18  metodo_pago              7043 non-null   object
 19  cargos_mensuales         7043 non-null   float64
 20  cargos_totales           7032 non-null   float64
 21  cargos_diarios           7043 non-null   float64
dtypes: float64(3), int64(7), object(12)
memory usage: 1.2+ MB

# Se elimina la informacion y columnas irrelevantes